# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
venv/
.venv/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Test and coverage reports
.coverage
coverage.xml
*.cover
*.py,cover
nosetests.xml
test-results/

# Miscellaneous
*.DS_Store
*.egg
*.egg-info/
*.pyo
*.pyd
*.pdb
*.db
*.sqlite3
*.sqlite

# Volumes
volumes/
